@font-face {
    font-family: "Roboto";
    src: url("assets/Roboto-Black.ttf");
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    font-family: "Roboto", Arial;
}

.sidebar {
    background-color: #1992D4;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;
}

.sidebar h2, .sidebar h3 {
    margin: 0;
}

.main {
    background-color: #E2E8F0;
}

svg {
    fill: white;
    height: 20px;
}

.logo-container svg {
    height: 40px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.sidebar-grid {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 50px;
}

.sidebar-grid svg {
    justify-self: center;
}